@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir.eot") format("eot");
    src: url("../fonts/vazir.ttf") format("ttf");
    src: url("../fonts/vazir.woff") format("woff");
    src: url("../fonts/vazir.woff2") format("woff2");}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    direction: rtl;
    font-family: vazir;
    background-color: gray;
    overflow: hidden;}

.container{
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    position: relative;
    background-color: #fff;
    transition: all .3s linear;
    transform-origin: top right;}

.container.show-nav{
    transform: rotate(20deg);}

.container .content{
    width: 1000px;
    margin: auto;}

.container .content small{
    color: #555;}

.container .content p{
    line-height: 30px;
    padding: 50px 0;}

.container .content h3{
    margin: 20px 0;}

.container .content img{
    width: 100%;}

.circle-container{
    position: fixed;
    top: -100px;
    right: -100px;} 

.circle-container .circle{
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 50%;
    position: relative;
    transition: all .3s linear;}

.container.show-nav .circle{
    transform: rotate(-80deg);}

.circle-container .circle button{
    position: absolute;
    top: 50%;
    right: 50%;
    height: 100px;
    background-color: transparent;
    font-size: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;}
    

#close{
    top: 40%;
    transform: rotate(75deg);
    transform-origin: top right;
    transition: all .3s ease-in-out;}

#close:hover{
    color: #333;}

#open{
    right: 60%;
    transition: all .3s ease-in-out;}

#open:hover{
    color: #333;}

nav{
    position: fixed;
    bottom: 50px;
    right: 50px;}

nav ul{
    list-style: none;}

nav ul li{
    margin: 20px;
    transform: translateX(150%);
    transition: all .3s linear;}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: all .3s ease-in-out;}

nav ul li a:hover{
    color: orange;}

nav ul li a svg{
    margin-left: 10px;
    font-size: 25px;}

.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: .3s;}

nav ul li + li{
    margin-right: 30px;
    transform: translateX(200%);}

nav ul li + li + li{
    margin-right: 45px;
    transform: translateX(250%);}