*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    direction: rtl;
    background-color: #004730;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;}

a{
    background-color: #c00;
    margin: 0 50px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;}

a:nth-child(2){
    background-color: #106c97;}

span{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: animate 1s linear infinite;
    pointer-events: none;
    transform: translate(-50%,-50%);}

@keyframes animate{
    0%{
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}